html, body {
    oveflow: hidden;
    height: 100%;
    overflow-y:hidden;
}

#main-container{
	width:640px !important;
    height:960px !important;
    position:absolute;
    top:25px;
    left: 30%;
}

#glcanvas {
    /*
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    width:100%;
    height:100%;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../assets/image/class.jpg);
}

#header, #footer{
	height:100px;
	margin:0px;
	background-color:gray;
}

#page {
	padding-top:0px !important;
}